<mat-toolbar color="primary" class="mat-elevation-z6">
    <span>
        <mat-icon>real_estate_agent</mat-icon>
        Property Sale Purchase
    </span>

    <div class="spacer">
    </div>


    <a mat-button routerLink="dashboard">Home</a>
    <a mat-button class="accent" routerLink="about">About Us</a>
    <a mat-button class="accent" routerLink="about">About Us</a>
    <a mat-button class="accent" routerLink="about">About Us</a>
    <a mat-raised-button class="accent" routerLink="login">SignUp</a>
</mat-toolbar>